<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth">
<!--회원가입-->

    <insert id="join" parameterType="userMaster">
        <![CDATA[
        INSERT INTO user_master
        (
            join_type
            ,join_ip
            ,join_dt
            ,email
            ,uuid
            ,name
        )VALUES(
            #{join_type}
            ,#{join_ip}
            ,#{join_dt}
            ,#{email}
            ,#{uuid}
            ,#{name}
        )
        ]]>
    </insert>

</mapper>
