<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="collection">
    <insert id="keywordInsert" parameterType="userKeyword">
        <![CDATA[
        INSERT INTO user_keyword
        (
        um_idx
        ,use_yn
        ,reg_dt
        ,reg_ip
        ,keyword
        )VALUES(
        #{um_idx}
        ,#{use_yn}
        ,#{reg_dt}
        ,#{reg_ip}
        ,#{keyword}
        )
        ]]>
    </insert>

</mapper>
