<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.news.collection.controllers.collectionController" alias="collectionController"/>
        <typeAlias type="com.news.collection.dto.keywordDto" alias="userKeyword"/>
        <typeAlias type="com.news.collection.dto.keywordUpdateDto" alias="userKeywordUpdate"/>
        <typeAlias type="com.news.collection.dto.newsCollectionDto" alias="newsCollection"/>
    </typeAliases>
</configuration>