<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="batch">
    <select id="keywordList" resultType="keyword">
        <![CDATA[
        SELECT
            uk_idx
            ,um_idx
            ,use_yn
            ,keyword
            ,domain_type
        FROM
            user_keyword
        WHERE domain_type = #{domain_type}
        AND use_yn = true
        ]]>
    </select>

    <select id="newsCollectionSelect" resultType="newsCollection">
        <![CDATA[
        SELECT
            title
            ,link
            ,subject
            ,reg_dt
            ,pub_dt
            ,um_idx
            ,domain_type
            ,uk_idx
        FROM news_collection
        WHERE 1=1
        ]]>
        <if test="title != null and title !=''">
            <![CDATA[
            AND title like CONCAT("%",#{title},"%")
            ]]>
        </if>
    </select>

    <insert id="newsCollectionInsert">
        <![CDATA[
        INSERT INTO news_collection
        (
        title
        ,link
        ,subject
        ,reg_dt
        ,pub_dt
        ,um_idx
        ,domain_type
        ,uk_idx
        )VALUES
        ]]>
        <foreach collection="dbArr" item="arr" index="index" separator=",">
            (
            #{arr.title}
            ,#{arr.link}
            ,#{arr.subject}
            ,#{arr.reg_dt}
            ,#{arr.pub_dt}
            ,${arr.um_idx}
            ,#{arr.domain_type}
            ,${arr.uk_idx}
            )
        </foreach>
    </insert>
</mapper>
